vingtSurStruts/vingtSurStruts-core/src/main/resources/vinSurStrutsSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="vingtSurStruts-config">
		<xs:complexType>
			<xs:all>
				<xs:element ref="actions" minOccurs="0" maxOccurs="1" />
				<xs:element ref="forms" minOccurs="0" maxOccurs="1" />
				<xs:element ref="packagesName" minOccurs="0" maxOccurs="1" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="actions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="action">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action-class"/>
				<xs:element ref="action-name"/>
				<xs:element ref="form-name"/>
				<xs:element ref="input" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="forward" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="forms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="form" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="form">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="form-class"/>
				<xs:element ref="form-name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="forward">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="path"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="packagesName">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="packageName" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="action-class" type="xs:string"/>
	<xs:element name="action-name" type="xs:string"/>
	<xs:element name="form-name" type="xs:string"/>
	<xs:element name="input" type="xs:string"/>
	<xs:element name="form-class" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="path" type="xs:string"/>
	<xs:element name="packageName" type="xs:string"/>
</xs:schema>
