trunk/vingtSurStruts/vingtSurStruts-core/src/main/resources/vinSurStrutsSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="vingtSurStruts-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="actions"/>
				<xs:element ref="forms"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="actions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="action">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action-name"/>
				<xs:element ref="url-pattern"/>
				<xs:element ref="form-name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="forms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="form" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="form">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="form-class"/>
				<xs:element ref="form-name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="action-name" type="xs:string" />
	<xs:element name="url-pattern" type="xs:string" />
	<xs:element name="form-name" type="xs:string" />
	<xs:element name="form-class" type="xs:string" />
	
</xs:schema>
